* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.container {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
}

#question-title {
    border-style: solid;
    border-width: 1px;
    min-height: 2.5rem;
}

.choices {
    border-style: solid;
    border-width: 1px;
    min-height: 15rem;
}

/* .lives {
    border-style: solid;
    border-width: 1px;
    min-height: 2.5rem;
} */

.hints {
    border-style: solid;
    border-width: 1px;
}

span {
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    height: 1.2rem;
    width: 5rem;
    display: inline-block;
    vertical-align: middle;
  }






  


/* footer section*/
.footer {
    margin-top: 150px;
    width: 100%;
    padding: 25px 5%;
    background: black;
    color: white;
    display: flex;
}

.footer div {
    text-align: center;
}

.copyright {
    margin-top: 20px;
}

.col-1, .col-2, .col-3 {
    width: 30%;
    padding: 10px; 
  }

.col-2 {
    flex-grow:2;
}

.footer div h3 {
    font-weight: 200;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.social-icons {
    margin-top: 20px;
    size: 50%;
}

.social-icons i {
    font-size: 22px;
    margin: 10px;
    cursor:pointer
}

.social-icons a {
    display: block;
}

.footer p {
   font-size: smaller;
   color: grey;
   display: inline;
}


.giphyImg {
    border-radius: 8px;
    max-width:100%;
    max-height:100%;
    background-color: grey;
}