/* START OF GLOBAL RESET AND RULES */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* END OF GLOBAL RESET AND RULES */


/* START OF ELEMENT OR WIDESPREAD TARGETING */
/* This will fill all the middle section of the main page, between navbar and footer -TH*/
body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 20%, rgba(48,7,75,1) 40%, rgba(32,9,60,1) 63%, rgba(10,10,96,1) 86%, rgba(56,8,62,1) 100%);
}

h1,
h3,
h4,
h6 {
    color: orange;
    text-align: center;
    letter-spacing: 1px;
}

option {
    border: 1px solid #fff;
    background-color: #000000;
}

.container {
    margin-top: 20px;  
    padding: 10px;
}
/* END OF ELEMENT OR WIDESPREAD TARGETING */


/* START OF NAVIGATION SECTION */
.navbar {
    padding-top: 15px;
    width: 100%;
    background: rgb(7, 1, 35);
    font-size: large;
}

.navbar-toggler {
    padding-top: 1%;
    display: inline-block;
}

.nav-item { 
    z-index: 200;      
    border-radius: 2px;
    border-width: 1px;
}

/* Burger icon */
.fa-bars {
    color:rgb(235, 153, 59);
}

#home,
#highscores,
#help {
    color: rgb(235, 153, 59);
}

#home:hover,
#highscores:hover,
#help:hover {
    transform: scale(1.1);
    color: white;
    transition: all .2s ease-in-out;
}
/* END OF NAVIGATION SECTION */


/* START OF HERO BANNER IMAGE */
/* Hero image "Quiz!" */
.img-fluid {
    box-shadow: none;
}

/* Shifted the quiz image to the right -TH */
/* .col-lg-7 {
    flex: 0 0 auto;
    width: 66.333333%;
} */
/* END OF HERO BANNER */


/* START OF QUIZ SECTION */
/* Changes Category and Difficulty level look */
.form-select{
    background-color: transparent;
    color: white;
}

/* Changes to paragraph of lives, level and initials */
.lives-level-initials {
    color: rgb(235, 153, 59);
    text-align: center;
}

.quiz-text-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Changes score and lives numbers display */
#score,
#lives {
    width: 5rem;
    color: white;
}
/* END OF QUIZ SECTION */


/* START OF BUTTONS SECTIONS */
.btn-primary {
    min-width: 150px;
    --bs-btn-bg: rgb(29, 29, 41);
    border: 1px solid #ce9f11;
    margin: 5px auto;
    font-size: 1em;
}

.btn-primary:hover {
    box-shadow: 0 0 5px #ffc000, 0 0 20px #ffc000, 0 0 60px #ffc000, 0 0 150px #ffc000;
    background-color: #ffc000;
    outline: none;
}

/* Highscores modal button */
#resetScores:hover{
    color:#f8c245
}
/* END OF BUTTONS SECTION */


/* START OF MODALS SECTION */
.ui-dialog .ui-dialog-titlebar{
    text-align: center;
    max-width:100%;
    font-size: x-large;    
}

.ui-widget-content {
	border: 1px solid #dddddd;
	color: #333333;
}

.ui-widget-header {
	color: #ffffff;
	font-weight: bold;
}

.ui-widget-content {
	border: 1px solid #dddddd;
	background: #eeeeee url(images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x;
	color: #1b1b1b;
}

.giphyImg {
    border-radius: 8px;
    max-width:100%;
    max-height:100%;
    background-color: grey;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip {
position: relative;
display: inline-block;
border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip .tooltiptext { 
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;   
}

.tooltip:hover tooltiptext{
    visibility: visible;
}
/* END OF MODALS SECTION */


/* START OF FOOTER SECTION*/
.footer {
    margin-top: 12.5rem;
    width: 100%;
    background: rgb(7, 1, 35);
    color: white;
    justify-content: space-between;
    padding: 0.4rem;
}

.footer div {
    text-align: center;
}

.footer blockquote {
    font-size: smaller;
    color: grey;
    display: inline;
    font-size: 1.0rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items:center;
    margin: auto;
    width: 50%;
    gap: 5%;
    font-size: 1.2rem;
    cursor:pointer;
}

.about-us,
.contact {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.copyright {
    margin-top: 20px;
}
/* END OF FOOTER SECTION */


/* START OF MEDIA QUERIES */
@media only screen and (max-width: 576px) {
    .mx-5 {
        margin-right: 0!important;
        margin-left: 0!important;
    }
    .container {
        flex-direction: column;
      }
      .row {
        flex-direction: column;
      }
      .hints {
        width: 100%;
        text-align: center;
    }
    .container-fluid {
        margin-left: 20px;
    }
    .navbar-collapse {
        margin-top: 20px;        
    }
    .nav-link {
        margin-left: 20px;
    }
    .lc-block{
        display: flex;
        align-items: center;
        justify-content: center; 
    }
    .footer {
        margin-top: 5rem;
    }
}

@media only screen and (max-width: 768px) {
    .footer {
      flex-direction: column;
      align-items: center;
      margin-top: 5rem;
    }
    .lc-block{
        display: flex;
        align-items: center;
        justify-content: center; 
    }
}

@media only screen and (max-width: 960px) {
    .mx-5 {
        margin-right: 0!important;
        margin-left: 0!important;
    }
    .navbar-collapse {
        margin-top: 20px;        
    }
    .nav-link {
        margin-left: 20px;
    }
}
/* END OF MEDIA QUERIES */