* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.container {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
}

#question-title {
    border-style: solid;
    border-width: 1px;
    min-height: 2.5rem;
}

.choices {
    border-style: solid;
    border-width: 1px;
    min-height: 15rem;
}

/* .lives {
    border-style: solid;
    border-width: 1px;
    min-height: 2.5rem;
} */

.hints {
    border-style: solid;
    border-width: 1px;
}

span {
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    height: 1.2rem;
    width: 5rem;
    display: inline-block;
    vertical-align: middle;
  }






  


/* footer section*/
.footer {
    margin-top: 150px;
    width: 100%;
    padding: 100px 5%;
    background: black;
    color: white;
    display: flex;
    
}

.footer div {
    text-align: center;
}

.col-1, .col-2, .col-3 {
    width: 30%;
    padding: 10px;
    
  }


.col-2 {
    flex-grow:2;
    
}



.footer div h3 {
    font-weight: 200;
    margin-bottom: 30px;
    letter-spacing: 1px;
}


form input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: 1px;
}

form button{
    background: transparent;
    border: 2px solid whitesmoke;
    color: white;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;

}

.social-icons{
    margin-top: 20px;
    size: 50%;
    

}

.social-icons i{
    font-size: 22px;
    margin: 10px;
    cursor:pointer
}

p{
   font-size: smaller;
   color: grey;
}